# Python
__pycache__/
*.py[cod]

# Virtual environment
balora_env/
venv/
env/

# Environment variables
.env

# Django
db.sqlite3
staticfiles/

# Node
node_modules/
dist/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db